{% extends "base.html" %}

{% block content %}
<h2>Log&nbsp;In</h2>
{% if error %}
<p class="error">{{ error }}</p>
{% endif %}
<form method="post" class="form" novalidate>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
    </div>
    <button type="submit">Log&nbsp;In</button>
</form>
<p>Don't have an account? <a href="/signup">Sign&nbsp;up</a></p>
{% endblock %}